<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- Annotation autowire -->
	<context:annotation-config />
	<context:component-scan base-package="*" />

	<!-- Data Source -->
	<bean id="dataSource"
		class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="prize-mysql" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl"
			value="jdbc:mysql://localhost:3306/spread?useUnicode=true&amp;characterEncoding=GBK&amp;zeroDateTimeBehavior=round" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
		<property name="houseKeepingTestSql" value="select getDate()" />
		<property name="prototypeCount" value="5" />
		<property name="maximumConnectionCount" value="300" />
		<property name="minimumConnectionCount" value="10" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.zhy.spread" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">50</prop>
			</props>
		</property>
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"
				rollback-for="Exception" />
			<!-- 
				<tx:method name="get*" read-only="true" rollback-for="Exception" />
				<tx:method name="find*" read-only="true" rollback-for="Exception" />
				<tx:method name="find*" read-only="true" rollback-for="Exception" /> 
				<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
				<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
				<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
				<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
				<tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception" />
			-->
		</tx:attributes>
	</tx:advice>
	<aop:config expose-proxy="true">
		<aop:pointcut id="productServiceMethods"
			expression="execution(* *..service.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="productServiceMethods" />
	</aop:config>
</beans>
